<div class="card">
    <div class="card-header">
        {{titulo}}
    </div>
    <div class="card-body">
        <div class="text-end">
            <button type="button" class="btn btn-outline-primary" routerLink="/empleado/envios">Volver</button>
        </div>
        <div class="row">
            <form #envioForm="ngForm" >
                <div class="row g-3">
                    <h5>Datos envios</h5>
                    <div class="col-12">
                        <label for="descripcionEnvio" class="form-label">Descripcion</label>
                        <input type="text" name="descripcionEnvio" id="descripcionEnvio" [(ngModel)]="envio.descripcionEnvio"
                            class="form-control" required>
                    </div>
                    <div class="col-6">
                        <label for="ciudadOrigen" class="form-label">Ciudad Origen</label>
                        <select class="form-control" name="ciudadOrigen" id="cidudadOrigen" [(ngModel)]="envio.ciudadOrigen.id" required >
                            <option *ngFor="let ciudad of ciudades "  [ngValue]="ciudad.id">{{ciudad.ciudad}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="descripcion" class="form-label">Ciudad Destino</label>
                        <select name="ciudadDestino" id="ciudadDestino" class="form-control" [(ngModel)]="envio.ciudadDestino.id" required>
                            <option *ngFor="let ciudad of ciudades "  [ngValue]="ciudad.id">{{ciudad.ciudad}}</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="number" name="precio" id="precio" class="form-control" disabled="true" [(ngModel)]="envio.precio" required >
                    </div>
                    <div class="col-5">
                        <label for="precio" class="form-label">Peso</label>
                        <input type="number" name="peso" id="peso" class="form-control" [(ngModel)]="envio.peso" required >
                    </div>
                    <div class="col-2">
                        <label for="precio" class="form-label">Calcular Precio</label>
                        <button class=" form-control btn btn-secondary" (click)="calcularPeso()" >Calcular</button>
                    </div>
                </div>
                <div class="row g-3 m-2">
                    <h5>Datos Usuarios Remitente</h5>
                    <div class="col-6">
                        <label for="tipoDocumento" class="form-label">Tipo Documento</label>
                        <select id="emisorTipo" class="form-select" [(ngModel)]="envio.usuarioEmisor.tipo.id" name="tipoDocId"  #tipoEmi="ngModel" required>
                            <option [ngValue]="list" *ngFor="let list of tipoDoc" [ngValue]="list.id">{{list.descripcion}}
                            </option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="usuarioEmisor" class="form-label">Numero de documento</label>
                        <input type="number" class="form-control" name="numeroDocumento" id="usuarioEmisor"
                            [(ngModel)]="envio.usuarioEmisor.numeroDocumento" #documentoEmis="ngModel" required>
                        <div [hidden]="documentoEmis.valid || documentoEmis.pristine" class="alert alert-danger">
                            El campo es requerido
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="nombreEmisor" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombreEmisor" id="nombreEmisor"
                            [(ngModel)]="envio.usuarioEmisor.nombre" #nombreEmi="ngModel" required
                            >
                            <div [hidden]="nombreEmi.valid || nombreEmi.pristine" class="alert alert-danger">
                                El campo es requerido
                            </div>
                    </div>
                    <div class="col-6">
                        <label for="apellidoEmisor" class="form-label">Apellido</label>
                        <input type="text" class="form-control" name="apellidoEmisor" id="apellidoEmisor"
                        [(ngModel)]="envio.usuarioEmisor.apellido" #apellido="ngModel" required
                            >
                            <div [hidden]="apellido.valid || apellido.pristine" class="alert alert-danger">
                                El campo es requerido
                            </div>
                    </div>
                    <div class="col-4">
                        <label for="direccionEmisor" class="form-label">direccion</label>
                        <input type="text" class="form-control" name="direccionEmisor" id="direccionEmisor"
                        [(ngModel)]="envio.usuarioEmisor.direccion" #direccion="ngModel"  required >
                            <div [hidden]="direccion.valid || direccion.pristine" class="alert alert-danger">
                                El campo es requerido
                            </div>
                    </div>
                    <div class="col-4">
                        <label for="correoEmisor" class="form-label">Correo</label>
                        <input type="email" class="form-control" name="correoEmisor" id="correoEmisor"
                        [(ngModel)]="envio.usuarioEmisor.correo" #correoEmi="ngModel" required >
                        <div [hidden]="correoEmi.valid || correoEmi.pristine" class="alert alert-danger">
                            El campo es requerido
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="telefonoEmisor" class="form-label">telefono</label>
                        <input type="tel" class="form-control" minlength="8" maxlength="10" name="telefonoEmisor" id="telefonoEmisor"
                        [(ngModel)]="envio.usuarioEmisor.telefono" #telefonoEmi="ngModel"  required
                            >
                            <div [hidden]="telefonoEmi.valid || telefonoEmi.pristine" class="alert alert-danger">
                                El campo es requerido
                            </div>
                    </div>
                    
                </div>
                <div class="row g-3 m-2">
                    <h5>Datos Usurios Receptor</h5>
                    <div class="col-6">
                        <label for="id" class="form-label">Tipo Documento</label>
                        <select id="id" class="form-select" [(ngModel)]="envio.usuarioReceptor.tipo.id" #tipoRec="ngModel" name="TipoIdReceptor" required>
                            <option *ngFor="let list of tipoDoc" [ngValue]="list.id">{{list.descripcion}}
                            </option>
                        </select>
                        <div [hidden]="tipoRec.valid || tipoRec.pristine" class="alert alert-danger">
                            El campo es requerido
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="usuarioReceptor" class="form-label">Numero de documento</label>
                        <input type="number" class="form-control" name="usuarioReceptor" id="usuarioReceptor"
                        [(ngModel)]="envio.usuarioReceptor.numeroDocumento" #numeroDocumentoRec="ngModel" required>
                            <div [hidden]="numeroDocumentoRec.valid || numeroDocumentoRec.pristine" class="alert alert-danger">
                                El campo es requerido
                            </div>                           
                    </div>

                    <div class="col-6">
                        <label for="nombreReceptor" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombreReceptor" id="nombreReceptor"
                        [(ngModel)]="envio.usuarioReceptor.nombre" #nombreRec="ngModel" required >
                        <div [hidden]="nombreRec.valid || nombreRec.pristine" class="alert alert-danger">
                            El campo es requerido
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="apellidoReceptor" class="form-label">Apellido</label>
                        <input type="text" class="form-control" name="apellidoReceptor" id="apellidoReceptor"
                        [(ngModel)]="envio.usuarioReceptor.apellido" #apellidoRec="ngModel" required 
                            [value]="envio.usuarioReceptor.apellido">
                            <div [hidden]="apellidoRec.valid || apellidoRec.pristine" class="alert alert-danger">
                                El campo es requerido
                            </div>
                    </div>
                    <div class="col-4">
                        <label for="direccionReceptor" class="form-label">direccion</label>
                        <input type="text" class="form-control" name="direccionReceptor" id="direccionReceptor"
                        [(ngModel)]="envio.usuarioReceptor.direccion" #direccionRec="ngModel" required>
                        <div [hidden]="apellidoRec.valid || apellidoRec.pristine" class="alert alert-danger">
                            El campo es requerido
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="correoReceptor" class="form-label">Correo</label>
                        <input type="email" class="form-control" name="correoReceptor" id="correoReceptor"
                        [(ngModel)]="envio.usuarioReceptor.correo" #correoRec="ngModel" required
                            [value]="envio.usuarioReceptor.correo">
                            <div [hidden]="correoRec.valid || correoRec.pristine" class="alert alert-danger">
                                El campo es requerido
                            </div>
                    </div>
                    <div class="col-4">
                        <label for="telefonoReceptor" class="form-label">telefono</label>
                        <input type="tel" minlength="8" maxlength="10" class="form-control" name="telefonoReceptor" id="telefonoReceptor"
                        [(ngModel)]="envio.usuarioReceptor.telefono" #telefonoRec="ngModel" required
                            [value]="envio.usuarioReceptor.telefono">
                            <div [hidden]="telefonoRec.valid || telefonoRec.pristine" class="alert alert-danger">
                                El campo es requerido
                            </div>
                    </div>
                    <div class="col-4"  >
                        <label for="estado">Estado</label>
                        <select name="estado" id="estado" class="form-select" [(ngModel)]="envio.estado.id" [disabled]="envio.id ? false: true" >
                            <option *ngFor="let estado of estados" [ngValue]="estado.id"> {{estado.estado}}</option>
                        </select>
                    </div>
                </div>
                <!-- <p>{{envioForm.value| json}}</p>
                <p>{{envioForm.valid}}</p> -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!envioForm.valid" (click)="envio.id ? actualizar()  : onSubmit()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>