<div class="card m-4">
    <div class="card-header text-center">
        <h5>Consulte su envio</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="formB" >
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="search" class="form-control me-2" placeholder="Buscar por id envio" aria-label="Search"
                    name="idEnvio" id="idENvio" formControlName="id">

                <button (click)="onSubmit()" class="btn btn-primary" type="button" [disabled]="!formB.valid">Consultar</button>
            </div>
        </form>
        <div class="m-3" *ngIf="envio.id !== 0 ">
            
            <div>
                <label>Fecha Creacion del Envio :{{envio.fechaCreacion| date:'yyyy-MM-dd'}}</label>
            </div>
            <div>
                <label>Descripcion : {{envio.descripcionEnvio}}</label>
            </div>
            <div>
                <label>Nombre Emisor: {{envio.usuarioEmisor.nombre}}</label>
            </div>
            <div>
                <label>Usuarios Emisor: {{envio.usuarioEmisor.apellido}}</label>
            </div>
            <div>
                <label>Nombre Receptor :{{envio.usuarioReceptor.nombre}}</label>
            </div>
            <div>
                <label>Apellido Receptor: {{envio.usuarioReceptor.apellido}}</label>
            </div>
            <div>
                <label>Precion: {{envio.precio}}</label>
            </div>
            <div>
                <label>Peso :{{envio.peso}}</label>
            </div>
            <div>
                <label>Estado del Envio: {{envio.estado.estado}}</label>
            </div>
        </div>
    </div>
</div>