<div class="card m-4">
    <div class="card-header text-center">
        {{titulo}}
    </div>
    <div class="card-body">
        <div class="text-end">
            <button class="btn btn-secondary" routerLink="/empleado/despachos">Regresar</button>
        </div>
        <div class="row">
            <form class="row g-3">
                <div class="col-6">
                    <label for="origen" class="form-label">Origen</label>
                    <input type="text" class="form-control" id="origen" [(ngModel)]="despacho.origen" name="origen"
                        required>
                </div>
                <div class="col-6">
                    <label for="destino" class="form-label">Destino</label>
                    <input type="text" class="form-control" id="destino" [(ngModel)]="despacho.destino" name="destino"
                        required>
                </div>
                <div class="col-6">
                    <label for="destino" class="form-label">Vehiculo</label>
                    <input type="text" class="form-control" id="destino" [(ngModel)]="despacho.destino" name="destino"
                        required>
                </div>
                <div class="col-6">
                    <label for="destino" class="form-label">Vehiculo</label>
                    <input type="text" class="form-control" id="destino" [(ngModel)]="despacho.destino" name="destino"
                        required>
                </div>
                <div class="col-12">
                    <label for="Observaciones" class="form-label">Observaciones</label>
                    <textarea class="form-control" id="Observaciones" maxlength="500" rows="3"[(ngModel)]="despacho.observaciones" name="observaciones" required  ></textarea>
                </div>
                <div class="col-12">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th scope="col">Fecha De entrega</th>
                            <th scope="col">Observaciones</th>
                            <th scope="col">envio</th>
                            <th scope="col">Entregado</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let desEn of despacho.despachos">
                               <td>{{desEn.fechaEntrega}}</td> 
                               <td>{{desEn.observaciones}}</td> 
                               <td>{{desEn.envio.id}} - {{desEn.envio.descripcionEnvio}} </td>
                               <td> {{desEn.entregado}}</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>