<div class="card mb-5" >
  <div class="card-header">
        Listado de vehiculos
  </div>
  <div class="card-body">
    <h5 class="card-title">Listado</h5>
    <p class="text-end">
        <button class="btn btn-outline-secondary">Crear vehiculos</button>
    </p>

    <p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Placa</th>
              <th scope="col">Marca</th>
              <th scope="col">Medio</th>
              <th scope="col">Editar</th>
              <th scope="col">Elimiar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
           
          </tbody>
        </table>
    
  </div>
</div>
