<div class="card mb-4">
  <div class="card-header">
        Listado de vehiculos
  </div>
  <div class="card-body">
    <h5 class="card-title">Listado</h5>
    <p class="text-end">
        <button class="btn btn-outline-secondary" routerLink="/admin/vehiculo/form">Crear vehiculos</button>
    </p>

    <p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Placa</th>
              <th scope="col">Marca</th>
              <th scope="col">Medio</th>
              <th scope="col">Editar</th>
              <th scope="col">Elimiar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehiculo of listaVehiculos">
              <th scope="row">{{vehiculo.id}}</th>
              <td>{{vehiculo.placa}}</td>
              <td>{{vehiculo.marca.marca}}</td>
              <td>{{vehiculo.medio.medio}}</td>
              <td><i class="bi bi-pencil-square" [routerLink]="['/admin/vehiculo/form/',vehiculo.id]"></i></td>
              <td><i class="bi bi-trash-fill" (click)="eliminar(vehiculo)"></i></td>
            </tr>
          </tbody>
        </table>
        <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual" [pageSizeOptions]="pageSizeOpions" (page)="paginar($event)"></mat-paginator>
  </div>
</div>
