<div class="card" >
    <div class="card-header text-center">
        Envios
    </div>
    <div class="card-body">
        <h5 class="card-title">Listado de envios</h5>
        <div class="text-end">
            <button type="button" class="btn btn-outline-info" routerLink="/empleado/envios/form" >Crear Envios</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">fecha</th>
                    <th scope="col">descripcion Envio</th>
                    <th scope="col">Usuario Envia</th>
                    <th scope="col">Usuario Que Recibe</th>
                    <th scope="col">Origen</th>
                    <th scope="col">Destino</th>
                    <th scope="col" >Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let envio of lista">
                    <th scope="row">{{envio.id}}</th>
                    <td>{{envio.fechaCreacion | date :'yyyy-MM-dd'}}</td>
                    <td>{{envio.descripcionEnvio}}</td>
                    <td>{{envio.usuarioEmisor.numeroDocumento}} {{envio.usuarioEmisor.nombre}}</td>
                    <td>{{envio.usuarioReceptor.numeroDocumento}} {{envio.usuarioReceptor.nombre}}</td>
                    <td>{{envio.ciudadOrigen.ciudad}}</td>
                    <td>{{envio.ciudadDestino.ciudad}}</td>
                    <td> <div class="btn btn-outline-success" [routerLink]="['/empleado/envios/form',envio.id]"><i class="bi bi-pen"></i></div></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual" [pageSizeOptions]="pageSizeOpions" (page)="paginar($event)"></mat-paginator>
    </div>
</div>