<div class="card">
    <div class="card-header text-center">
        {{titulo}}
    </div>
    <div class="card-body">
        <div class="text-end">
            <button class="btn btn-secundary" routerLink="/admin/categoria">Regresar</button>
        </div>
        <div class="row ">
            <form class="row g-3" #heroForm="ngForm" >
                <div class="col-6">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="categoria.nombre" name="nombre" id="nombre" required="">
                </div>
                <div class="col-6">
                    <label for="variable" class="form-label">Variable</label>
                    <select class="form-control" name="varibleNombre" id="varibleNombre" [(ngModel)]="categoria.varible.id"required>
                        <option *ngFor="let variable of variables" [ngValue]="variable.id">{{variable.nombre}}</option>
                    </select>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-secondary" [disabled]="!heroForm.valid" (click)="crearCat()" >Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>