<div class="card">
    <div class="card-header  text-center">
        Formulario de estados
    </div>
  <div class="card-body">
    <h5 class="card-title">Listado de estados</h5>

    <p class="card-text">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">estado</th>
              <th scope="col">editar</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>   
    
  </div>
</div>
