<div class="card">
    <div class="card-header  text-center">
       {{title}}
    </div>
  <div class="card-body">
    <h5 class="card-title">Listado de estados</h5>
    <div class="text-end">
        <button class="btn btn-secondary" routerLink="/admin/tarifas/form">Crear Tarifa</button>
    </div>
    <p class="card-text">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Valor Minimo</th>
              <th scope="col">Valor Maximo</th>
              <th scope="col">Precio</th>
              <th scope="col">Nombre Categoria</th>
              <th scope="col">editar</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tarifa of listado">
              <th scope="row">{{tarifa.id}}</th>
              <td>{{tarifa.valorMin}}</td>
              <td>{{tarifa.valorMax}}</td>
              <td>{{tarifa.precio}}</td>
              <td>{{tarifa.categoria.nombre}}</td>
              <td><button class="btn btn-secondary btn-sm" [routerLink]="['/admin/tarifas/form',tarifa.id]" ><i class="bi bi-pencil"> Editar</i></button></td>
                <td><button class="btn btn-danger btn-sm" (click)="eliminar(tarifa)"><i class="bi bi-trash-fill">Eliminar</i></button></td>
            </tr>
          </tbody>
        </table>   
        <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual" [pageSizeOptions]="pageSizeOpions" (page)="paginar($event)"></mat-paginator>
  </div>
</div>
