<style>
    .nosotros {
        border: 3px outset black;
        text-align: center;
    }
</style>
<div>

    <div class="about-section">
        <h1 class="text-corporate">Sobre Nosotros</h1>
        <p>Satisfacemos las necesidades y expectativas de nuestros Clientes, con soluciones logísticas
            innovadoras, contribuyendo a la transformación del país.</p>
        <p>Como líderes en Servicio, en el 2021 seremos la mejor Empresa del país en soluciones logísticas,
            de forma innovadora.</p>
    </div>
</div>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="./../../../../assets/img/aboutus1.jpg" class="d-block w-100" width="800" height="330" alt="s">
    </div>
</div>

<div class="nosotros">
    <img src="./../../../../assets/img/mision.jpg" class="alingcenter" width="100" height="100" alt="s">
    <h2 class="text-corporate">Nuestra Misión</h2>
    <p>Satisfacer totalmente las necesidades de logística y comunicación integral de nuestros Clientes,
        a través de la excelencia en el servicio, el desarrollo integral de nuestros Líderes de Acción
        y el sentido de compromiso con nuestra familia y nuestro País.</p>

    <img src="./../../../../assets/img/vision.jpg" class="alingcenter" width="100" height="100" alt="s">
    <h2 class="text-corporate">Nuestra Visión</h2>
    <p>Queremos que Inmentrega sea un modelo de empresa innovadora, líder en servicios de logística
        y comunicación, por seguridad, oportunidad y cubrimiento en toda colombia, con presencia competitiva
        a nivel regional.</p>
</div>
<div class="alingcenter">
    <h2 class="text-corporate" style="text-align:center">Nuestros Líderes</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="./../../../../assets/img/team1.png" alt="Cesar" style="width:70%" class="alingcenter">
                <div class="container">
                    <h2>Cesar Velazco</h2>
                    <p class="title">CEO</p>
                    <p>Fundador de Inmentrega</p>
                    <p>cvelazcoa@ucentral.edu.co</p>
                    
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="./../../../../assets/img/team1.png" alt="Camilo" style="width:70%" class="alingcenter">
                <div class="container">
                    <h2>Camilo Hidalgo</h2>
                    <p class="title">CEO</p>
                    <p>Fundador de Inmentrega</p>
                    <p>chidalgoc@ucentral.edu.co</p>
                    
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="./../../../../assets/img/team1.png" alt="Cesar" style="width:70%" class="alingcenter">
                <div class="container">
                    <h2>Luis Abril</h2>
                    <p class="title">Calidad</p>
                    <p>Supervisor de desarrollo corporativo</p>
                    <p>labrilc@ucentral.edu.co</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>