<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inmentrega</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="consultarEnvio">Gia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="consultartarifa">Tarifas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="nosotros">Nosotros</a>
        </li>
      </ul>
      <ng-container *ngIf="isEmpleado; else usuariosNologueado">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" routerLink="/empleado">envios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/empleado/despachos">despachos </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/empleado/busquedasPorUsuarios">Busqueda de Usuarios </a>
          </li>
        </ul>
      </ng-container>
      <ng-container *ngIf="isAdmin ; else usuariosNologueado">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/tarifas">Tarifas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/categoria">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/oficina">Oficinas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/vehiculo">vehiculo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/usuario">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/estado">Estados</a>
          </li>
        </ul>
      </ng-container>
      <ng-template #usuariosNologueado>

      </ng-template>


      <ng-container *ngIf="isLogged ; else usuarioLogueado">
        <div class="m-2">
          Bienvenido {{username}}
        </div>
        <div class="m-2">
          <div class="btn btn-outline-success" routerLink="login" (click)="logout()">Cerrar sesion </div>
        </div>
      </ng-container>
      <ng-template #usuarioLogueado>
        <form class="d-flex">
          <div class="btn btn-outline-success me-2" routerLink="/registro">Registrarse</div>
          <div class="btn btn-outline-success" routerLink="login">Login</div>
        </form>
      </ng-template>
    </div>
  </div>
</nav>